<!DOCTYPE html>
<html>
  <head>
    <title>Voting Application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel='stylesheet' href='/stylesheets/poll.css' />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body>
  
  <header>
    <nav>
      <div class="navbarContainer">
        <% if(!currentUserName) { %>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="/auth/login">Login</a></li>
        </ul>
         <% } else { %>
         <ul class="navbar-logout">
           <li><a href="/">Home</a></li>
           <li><a href="/poll/create">Create New Poll</a></li>
           <li><a href="/mypolls/">View My Polls</a></li>
           <li><a href="/auth/logout">Logout</a></li>
         </ul>
         <% } %>
      </div>  
    </nav>
  </header>

  <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%=error%>
        </div>
        <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%=success%>
        </div>
        <% } %>
