<% include ./partials/header %>


<div class="indexContainer">
  <h1><%=title%></h1>
  <% if(!currentUserName) { %>
  <div class="signinNotification">
    <p>This is a list of hosted Polls so check them out!</p>
    <p>If you want to vote or create your own poll login!</p>
  </div>
  <% } else { %>
  <div class="signinNotification">
    <p>Welcome Back <%= currentUserName.username %>!</p>
  </div>
  <% } %>
  <div class="indexAllPolls">
    <h2>All Polls</h2>
    <ul>
      <% if(polls.length > 0) { %>
      <% polls.forEach((poll) => { %>
        <li><a href="/poll/<%=poll._id%>"><%=poll.title%></a></li>
     <% }) %>
     <% } else { %>
       <p>Sorry, There Are Currently No Polls To Display</p>
     <% } %>
    </ul>
  </div>
</div>





<% include ./partials/footer %>