<% include ./partials/header %>


<div class="indexContainer">
  <h1><%= title %></h1>
  <div class="signinNotification">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique hic totam corrupti vero, aperiam optio ut, dolores libero esse, eligendi magni. A totam perferendis distinctio quasi, officiis harum, ipsam fugit?</p>
  </div>    
  <div class="indexAllPolls">
    <h2>All Polls</h2>
    <ul>
      <li><a href="#">Banana</a></li>
      <li><a href="#">Banana</a></li>
      <li><a href="#">Banana</a></li>
    </ul>
  </div>
</div>





<% include ./partials/footer %>