<% include ./partials/header %>


<div class="loginContainer">
    <div class="login">
      <h1>Login</h1>
      <div class="githubContainer">
        <p>We use github to authorize your new account to be able to vote and create polls</p> 
        <a href="/auth/github" class="button">Login Now!</a>
      </div> 
    </div>
</div>






<% include ./partials/footer %>