<% include ./partials/header %>
    
<form action="/poll/create" method="POST">
    <input placeholder="Title" name="title"></input>
    <input placeholder="Options" name="options"></input>
    <button type="submit"></button>
</form>



<% include ./partials/footer %>