<% include ./partials/header %>
  <div class="pollContainer">
    <h1>Poll Name</h1>
    <div class="pollGrid">
      <div class="voteGrid">
        <h3>Vote Now!</h3>
        <div id="voteOptions">
          <form>
            <select name="vote">
              <% foundPoll.forEach((poll) => { %>
              <option name=<%=poll.title%>><%=poll.title%></option>
              <% }) %>
            </select>
            <button type="submit">Submit</button>
          </form>
          <input type="text">
          <button id="answer">Add Your Own Answer</button>
        </div>
      </div>
      <div class="graphGrid">
        <canvas id="myChart" height="50px" width='60px'></canvas>
      </div>
    </div>
    
  </div>
  
<% include ./partials/pollFooter %>

<script>
var appUrl = '/poll/' + window.location.pathname.split('/')[2]
  $('#answer').click(function(){
    var customVote = $("input").val()
    if($(this).attr('id') === 'answer'){
      $.ajax({
        type: 'POST',
        url: appUrl,
        data: {vote: customVote},
        success: function(result){
          console.log(result)
          if(result.updated){
            location.reload();
          } else {
            alert(result.message)
          }
        }
      })
    }
  })
  
  $("form").submit(function(e){
    e.preventDefault();
    var myVote = $("select").val()
    $.ajax({
      type: 'PUT',
      url: appUrl,
      data: {vote: myVote},
      success: function(result){
        if(result.updated){
          $("input").val('')
          location.reload();
        } else {
          console.log(result.message)
          alert(result.message)
        }
      }
    })
  })
  
  
</script>