<% include ./partials/header %>
  <div class="pollContainer">
    <h1><%=foundPoll.title%></h1>
    <div class="pollGrid">
      <div class="voteGrid">
        <h3>Vote Now!</h3>
        <div id="voteOptions">
          <% if(currentUserName) {%>
          <form>
            <select name="vote">
              <% foundPoll.options.forEach((poll) => { %>
              <option name=<%=poll.title%>><%=poll.title%></option>
              <% }) %>
            </select>
            <button type="submit">Submit</button>
          </form>
          <input type="text">
          <button id="answer">Add Your Own Answer</button>
        
        <% } else { %>
        <div>
          <h1>Login To Vote!</h1>
          <p>
            We want to make ensure that only validated users are able to
            take part in all of the great polls we offer!
          </p>
        </div>
        <% } %>
        </div>
      </div>
      <div class="graphGrid">
        <canvas id="myChart" height="50px" width='70px'></canvas>
      </div>
    </div>
    
  </div>
  
<% include ./partials/pollFooter %>

<script>
var appUrl = '/poll/' + window.location.pathname.split('/')[2]
  $('#answer').click(function(){
    var customVote = $("input").val()
    if($(this).attr('id') === 'answer'){
      $.ajax({
        type: 'POST',
        url: appUrl,
        data: {vote: customVote},
        success: function(result){
          console.log(result)
          if(result.updated){
            swal("WOOHOO! YOU VOTED!").then(() => {
              location.reload();
            })
          } else {
            swal("Double Voter!", "You Already Voted!", "warning")
          }
        }
      })
    }
  })
  
  $("form").submit(function(e){
    e.preventDefault();
    var myVote = $("select").val()
    $.ajax({
      type: 'PUT',
      url: appUrl,
      data: {vote: myVote},
      success: function(result){
        if(result.updated){
          swal("WOOHOO! YOU VOTED!").then(() => {
              $("input").val('')
              location.reload();
            })
        } else {
          swal("Double Voter!", "You Already Voted!", "warning")
        }
      }
    })
  })
  
  
</script>