<% include ./partials/header %>
  <div class="pollContainer">
    <h1>Poll Name</h1>
    <div class="pollGrid">
      <div class="voteGrid">

      </div>
      <div class="graphGrid">
        <canvas id="myChart" height="50px" width='60px'></canvas>
      </div>
    </div>
    
  </div>
  
<% include ./partials/pollFooter %>