/*#2B2B2B*/
/*#DE1B1B*/
/*#F6F6F6*/
/*#E9E581*/



.loginContainer {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login {
    box-shadow: 0 0 3px 1px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2B2B2B;
    height: 400px;
    width: 400px;
    color: #E9E581;
}

.login h1 {
    font-size: 42px;
}

.githubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.githubContainer p {
    max-width: 300px;   
    margin: 0;
    text-align: center;
}

.button {
    color: white;
    background-color: gray;
    box-shadow: -1px 3px 2px 0px rgba(233, 229, 129, .3);
    padding: 5px;
}

.button:focus {
    box-shadow: none;
}