/*#2B2B2B*/
/*#DE1B1B*/
/*#F6F6F6*/
/*#E9E581*/



.navbar {
  display: flex;
  margin: 0;
  margin-right: 30px;
  justify-content: space-between;
  width: 100px;
  list-style: none;
  
}


.navbarContainer a {
  width: 100%;
  height: 100%;
  color: #E9E581;
  
}

.navbarContainer a:hover {
  color: #DE1B1B;
}

.navbar-logout {
  display: flex;
  margin: 0;
  justify-content: space-between;
  width: 400px;
  margin-right: 10px;
  list-style: none;
}

a {
  text-decoration: none;
  
}


.navbarContainer {
  border-bottom: 1.5px solid #DE1B1B;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #2B2B2B;
}