/*#2B2B2B*/
/*#DE1B1B*/
/*#F6F6F6*/
/*#E9E581*/



.pollContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color:#F6F6F6;
}

.pollContainer h5 {
    text-align: center;
}

.pollContainer h1 {
    text-align: center;
}

.pollGrid {
    height: 100%;
    display: flex;
}

.voteGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
}

.graphGrid {
    width: 60%;
    height: 100%;
}

.voteGrid h3 {
    margin: 50px;
    margin-bottom: 20px;
}


select {
    width: 120px;
    text-align: center;
}

.userProfile {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#userPolls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userPolls a {
    font-size: 22px;
    color: black;
}

.userProfile h1{
    font-size: 32px;
}

#userPolls span {
   cursor: pointer;
   font-size: 32px;
   padding-right: 10px;
    color: red;
    opacity: .3;
}


#userPolls span:active {
    font-weight: bolder;
    color: darkred;
    transition: color .2s ease;
}

#userPolls span:hover {
    font-weight: bold;
    opacity: 1;
}

.myPollsContainer {
    width: 500px;
}

.newPollContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pollForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2B2B2B;
    width: 450px;
    height: 350px;
    box-shadow: 0 0 2px 1px;
}

.pollForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 400px;
    border-radius: 2px;
    background-color: #F6F6F6;
}

.pollForm input {
    margin: 12px;
    padding-left: 2px;
    font-size: 20px;
    box-shadow: 0px 0px 1px 1px;
    outline: none;
    border: none;
}



.pollForm input:focus {
    box-shadow: 0px 0px 1px 1px rgba(122, 0, 20, .6);
}

#options {
    margin-bottom: 1px
}

.pollForm span {
    font-size: 12px;
    margin-bottom: 10px;
}

.pollForm button {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    outline: none;
    background-color: limegreen;
    border: none;
    transition: all .2s ease;
    box-shadow: 0px 0px 5px 1px  rgba(0, 122, 0, 1);
}

.pollForm label {
    font-size: 16px;
}

.pollForm button:hover {
    background-color: green;
}

.pollForm button:active {
    background-color: darkgreen;
    box-shadow: none;
}

.pollVotes {
    height: 400px;
    width: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DE1B1B;
    box-shadow: 0 0 1px 1px;
}

.pollVotes form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 150px;
    
}

.pollVotes h3 {
    margin: 0;
    font-size: 20px;
}

.pollVotes button {
    margin-top: 20px;
}

.pollVotes input {
    width: 150px;
}

.accentContainer {
    background-color: #E9E581;
    display: flex;
    width: 280px;
    height: 380px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pollVotes select {
    width: 150px;
}

.altMessage {
    width: 300px;
    font-size: 20px
}