.pollContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: pink;
}

.pollContainer h1 {
    text-align: center;
}

.pollGrid {
    height: 100%;
    display: flex;
}

.voteGrid {
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
}

.graphGrid {
    background-color: blue;
    width: 60%;
    height: 100%;
}

input[type="checkbox"] {
    border: 2px solid red;
    background-color: red !important;
}

#test {
    border: 1px solid red;
}

.voteGrid h3 {
    margin: 50px;
    margin-bottom: 20px;
}


#voteOptions {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 175px;
    align-content: center;
    margin: 50px;
    margin-top: 10px;
}

form {
    border: 1px solid black;
}

select {
    width: 120px;
    text-align: center;
}