/*#2B2B2B*/
/*#DE1B1B*/
/*#F6F6F6*/
/*#E9E581*/



body, html {
  margin: 0;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.indexContainer h1 {
  font-size: 65px;
}

.indexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #F6F6F6;
}

.signinNotification {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  font-size: 20px;
}

.signinNotification p {
  max-width: 800px;
  margin: 10px;
}

.indexAllPolls {
  text-align: center;
  width: 100%;
  background-color: #F6F6F6;
  height: 70%;
  
}

.indexAllPolls a {
  color: black;
  font-size: 22px;
}

.indexAllPolls ul {
  padding: 0;
}

.indexAllPolls h2 {
  font-size: 32px;
}

.indexAllPolls li {
  height: 50px;
  background-color: gray;
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  list-style: none;
  border-radius: 10px;
  transition: all .3s ease;
}

.indexAllPolls li:nth-child(odd){
  background-color: #DE1B1B;
}

.indexAllPolls li:hover:nth-child(odd) {
  background-color:#E9E581;
}

.indexAllPolls li:hover {
  background-color:#E9E581;
}

.indexAllPolls a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: darkred;
  justify-content: center;
  font-size: 16px;
  border: 1px solid darkred;
  height: 50px;
  text-align: center;
  background-color: pink;
}